<%= form_with(model: [ dataset, dataset_record ], local: true) do |f| %>
  <div class="modal-body">
    <% dataset.fields.each do |field| %>
      <% f.object.field_values.find_or_initialize_by(field_id: field.id).tap do |field_value| %>
        <%= f.fields_for(:field_values, field_value) do |field_value_fields| %>
          <%= render 'dataset_records/fields', f: field_value_fields %>
        <% end %>
      <% end %>
    <% end %>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
    <%= f.submit "Save #{dataset.name}", class: "btn btn-primary" %>
  </div>
<% end %>
