<div class="container">
	<div class="row">
		<div class="col-md-3">
			<div class="card mt-5 text-center">
				<i class="fa fa-user mt-2" aria-hidden="true"></i>
				<p>client</p>
				<p>Lorem ipsum dolor sit</p>
				<p>1 record</p>
				<button class="btn btn-success btn-sm rounded button mb-3 ml-3">View Record</button>
			</div>
		</div>
		<div class="col-md-3">
			<div class="card mt-5 text-center">
				<i class="fa fa-user mt-2" aria-hidden="true"></i>
				<p>client</p>
				<p>Lorem ipsum dolor sit</p>
				<p>1 record</p>
				<button class="btn btn-success btn-sm rounded">View Record</button>
			</div>
		</div>
		<div class="col-md-3">
			<div class="card mt-5 text-center">
				<i class="fa fa-user mt-2" aria-hidden="true"></i>
				<p>client</p>
				<p>Lorem ipsum dolor sit</p>
				<p>1 record</p>
				<button class="btn btn-success btn-sm rounded">View Record</button>
			</div>
		</div>
    <div class="col-md-3">
			<div class="card mt-5 text-center">
				<i class="fa fa-user mt-2" aria-hidden="true"></i>
				<p>client</p>
				<p>Lorem ipsum dolor sit</p>
				<p>1 record</p>
				<button class="btn btn-success btn-sm rounded">View Record</button>
			</div>
		</div>
	</div>
</div>
